:root {
  --animation-fade: 1s ease-out;

  /* --- TEXT SIZES START --- */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1350,20,1.25,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* size -1: 14.2222px → 16px */
  --size--1: clamp(0.8889rem, 0.8544rem + 0.1726vi, 1rem);
  /* size 0: 16px → 20px */
  --size-0: clamp(1rem, 0.9223rem + 0.3883vi, 1.25rem);
  /* size 1: 18px → 25px */
  --size-1: clamp(1.125rem, 0.9891rem + 0.6796vi, 1.5625rem);
  /* size 2: 20.25px → 31.25px */
  --size-2: clamp(1.2656rem, 1.052rem + 1.068vi, 1.9531rem);
  /* size 3: 22.7813px → 39.0625px */
  --size-3: clamp(1.4238rem, 1.1077rem + 1.5807vi, 2.4414rem);
  /* size 4: 25.6289px → 48.8281px */
  --size-4: clamp(1.6018rem, 1.1513rem + 2.2524vi, 3.0518rem);
  /* size 5: 28.8325px → 61.0352px */
  --size-5: clamp(1.802rem, 1.1767rem + 3.1265vi, 3.8147rem);
  /* size 6: 32.4366px → 76.2939px */
  --size-6: clamp(2.0273rem, 1.1757rem + 4.258vi, 4.7684rem);

  /* --- TEXT SIZES END --- */

  /* --- SPACING START --- */
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1350,20,1.414,8,1,&s=0.75|0.5|0.25,2|3|5|8|13,s-l&g=s,l,xl,12 */

  --space-3xs: clamp(0.25rem, 0.2306rem + 0.0971vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4612rem + 0.1942vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6917rem + 0.2913vi, 0.9375rem);
  --space-s: clamp(1rem, 0.9223rem + 0.3883vi, 1.25rem);
  --space-m: clamp(2rem, 1.8447rem + 0.7767vi, 2.5rem);
  --space-l: clamp(3rem, 2.767rem + 1.165vi, 3.75rem);
  --space-xl: clamp(5rem, 4.6117rem + 1.9417vi, 6.25rem);
  --space-2xl: clamp(8rem, 7.3786rem + 3.1068vi, 10rem);
  --space-3xl: clamp(13rem, 11.9903rem + 5.0485vi, 16.25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1335rem + 0.5825vi, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3641rem + 0.6796vi, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.5947rem + 0.7767vi, 1.25rem);
  --space-s-m: clamp(1rem, 0.534rem + 2.3301vi, 2.5rem);
  --space-m-l: clamp(2rem, 1.4563rem + 2.7184vi, 3.75rem);
  --space-l-xl: clamp(3rem, 1.9903rem + 5.0485vi, 6.25rem);
  --space-xl-2xl: clamp(5rem, 3.4466rem + 7.767vi, 10rem);
  --space-2xl-3xl: clamp(8rem, 5.4369rem + 12.8155vi, 16.25rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.1456rem + 4.2718vi, 3.75rem);

  /* --- SPACING END --- */

  --gutter: var(--space-s-m);
  --border-radius: var(--size-step-1);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
}


